@import '../../index.css';

.navbar {
  background-color: #0B0C10;
}

.navbar button {
  margin-left: 40px;
}

.navbar button:hover {
  cursor: pointer;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
  margin: auto 40px;
}

.navbar__title {
  font-size: 32px;
  line-height: 38.73px;
}

.navbar #posts {
  font-size: 20px;
  line-height: 24.2px;
  border: none;
  background-color: transparent;
}

.navbar__title, .navbar #posts {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: var(--neon);
}

.navbar #login, .navbar #register {
  font-family: 'DM sans';
  font-size: 18px;
  line-height: 28px;
}

.navbar #login {
  color: #FFF;
  background-color: var(--secondary);
  border: none;
  padding: 15px 27px;
  transition: .3s all;
}

.navbar #login:hover {
  background-color: #313944;
}

.navbar #register {
  color: var(--neon);
  background-color: transparent;
  padding: 14px 27px;
  border: 1px solid var(--primary);
  transition: .3s all;
}

.navbar #register:hover {
  background-color: var(--neon);
  color: #0B0C10;
  font-weight: bold;
}